tbody, table{
    width: 50vw;
}

tr {
    width: 100%;
    border: 1px solid black;
    height: 10px;
    vertical-align: center;
}

td {
    height: min-content;
    /* height: 9px; */
    font-size: 0.36vh;
    min-width: 18%;
}
/* .trHeure{

    font-size: 3vh;
    height: 7px;
} */

.Fakheure{
    vertical-align: top;
    height: 7px;
    font-size: 1vh;
}

.heure {
    vertical-align: top;
    font-size: 1vh;
    height: min-content;
}

.cours {
    /* height: 5px; */
    text-align: center;
    border: 1px solid black;
    color: black;
    height: 7px;
    font-size: 2vh;
}

.hid {
    display: none;
}
@media screen and (max-width: 1000px) {
    tbody, table {
        width: 100%;
    }
    .cours {
        font-size: 1.3vh;
    }
}

.manchot{
    background-image: url("/EDT/backgrounds/manchot.png");
    
}

.chateauuu {
    background-image: url("/EDT/backgrounds/chateauuuuu.png");

}

/* chateauuuuu.png */
/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336;
    /* Red */
    color: white;
    margin-bottom: 15px;
}
.warning {
    padding: 20px;
    background-color: #db5800;
    /* Red */
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}